# DATABASE vars
POSTGRES_USER=''
POSTGRES_PASS=''
POSTGRES_DB=''
POSTGRES_HOST=''
POSTGRES_PORT=''

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASS}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# NEXTAUTH vars
NEXTAUTH_URL=''
NEXTAUTH_SECRET='' # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
SECRET=''

EMAIL_SERVER=''
EMAIL_FROM=''

GITHUB_ID=''
GITHUB_SECRET=''

# STRIPE vars
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=''
STRIPE_SECRET_KEY=''